__pycache__
.idea
.ipynb_checkpoints

secret.txt

Airflow/dags
Airflow/logs
Airflow/plugins
Airflow/config
Airflow/airflow-webserver.pid
Airflow/airflow.cfg
Airflow/webserver_config.py

GitLab/config
GitLab/data
GitLab/logs

Jenkins/jenkins_home